* {
    margin: 0;
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(8, 8, 8);
}

.imagees {
    display: flex;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.9); /* Adds shadow around the image */

 }
.image {
    height: 550px;
    width: 1300px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("Img/netfliximage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 4%;
    background-position: center;  
    border: 3px solid snow;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    
}
.sign-in2 {
    padding-right: 30px;
}
.logo {
    height: 95px;
    width: 160px;
    background-image: url("Img/netflix2.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #E50914;   
    margin: 20px;
    font-size: 200px;
}
nav select {
    width: 100px;
  height: 30px;
    color: white;
    background-color: black;
    border-radius: 2rem;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
nav button {
    height: 30px;
    width: 75.98px;
    background-color: snow;
    color : black;
    border-radius: 2rem;
    border: 2px solid white;
    font-size:small;
    font-weight: bold;
}

.welcome-msg {
    height: 436px;
    width: 714px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
      padding-top: 200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
}
.welcome-msg h1 {
    height: 120px;
    width: 586px;
    font-size: 50px;
    font-weight: bolder;

}
.welcome-msg p {
    height: 23px;
    width: 583px;
    margin: 24px;
    font-size: 18px;
    font-weight: bold;
    
}
.welcome-msg h3 {
    height: 24px;
    width: 580px;
    font-size: 16px;
    font-weight: 500;
}
.email-add {
    height: 100px;
    width: 700px;
    padding: 16px 0px 0px;
}
.email-add input {
    height: 56px;
    width: 342.75px;
    border-radius: 40px;
    border : 2px solid transparent;
    background-color: rgb(83, 82, 82);
}
::placeholder {
    color: white;
    font-size: 14px;
    font-weight: bold;
}
input:focus {
    border: 2px solid white;    
}
.email-add button {
    height: 60px;
    width: 30%;
    background-color: red;
    border-radius: 40px;
    border: 2px solid transparent;
    font-size: x-large;
    font-weight: bolder;
    text-align: flex-end;
}
.reasons {
    display: flex;
    justify-content: start;
    padding-left: 100px; 
    font-size: 20px;
}

.reasons h2 {
    color : white;
}
.box {
    width: 225px;
    height: 202px;
    border: 2px solid transparent;
    padding: 16px;
    margin: 10px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1); /* Transparent background */
    background-color:#353535;

}
.all-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-boxes h3 {
    font-size: 16px;
    color: #FFFFFF;
}
.all-boxes p {
    margin-top: 14px;
    color:#FFFFFFB3;
}
.tv {
    height: 53px;
    width: 193px;
}
.tv i {
    font-size: 40px;
    padding-left: 180px;
    padding-top: 50px;
}
.down {
    height: 53px;
    width: 193px;
}
.down i {
    font-size: 40px;
    padding-left: 180px;
    padding-top: 50px;
}
.stream {
    height: 53px;
    width: 193px;
}
.stream i {
    font-size: 40px;
    padding-left: 180px;
    padding-top: 70px;
}
.profile {
    height: 53px;
    width: 193px;
}
.profile i {
    font-size: 40px;
    padding-left: 180px;
    padding-top: 50px;
}
.faqs {
    background-color: #181818;
}
.faqs h2 {
    height: 30px;
    width: 400px;
    padding-left: 110px;
    font-size: 30px;
    padding-bottom: 10px;
}
.questions h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.questions {
    background-color: rgb(44, 43, 43);
    margin: 5px 0px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    height: 10%;
    width: 80%;
}
.ans {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
button.togle-btn {
    background: none;
    border: none;
    color: snow;
    font-size: 24px;
   cursor : pointer;
}
.questions.active .ans {
    max-height: 150px;
    padding-top: 10px;
}
.Qns-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}
.near-footer {
    height: 72px;
    width: 553px;
    background-color: #181818;
}
.gmail-add {
    height: 100px;
    width: 700px;
    padding: 16px 0px 0px;
}
.gmail-add input {
    height: 56px;
    width: 342.75px;
    border-radius: 40px;
    border : 2px solid transparent;
    background-color: rgb(44, 43, 43);
    text-align: flex-start;
}
 input:focus {
    border: 2px solid red; /* Change border color when focused */
    outline: none; /* Remove default blue outline */
    background-color: #222; /* Darken background when focused */
    color: white; /* Change text color */
    text-align: center;

 }
.gmail-add button {
    height: 60px;
    width: 30%;
    background-color: red;
    border-radius: 40px;
    border: 2px solid transparent;
    font-size: x-large;
    font-weight: bolder;
}
.last {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #181818;
}

ul
{
     list-style: none;
     height: 175px;
     width: 940px;
     text-align: center;
}
ul li {
    margin: 10px;
    color: #FFFFFFB3;
    font-size: 15px;
}
.end {
    display: flex;
    text-align: center;
}
 footer {
        display: flex;
    align-items: center;
    background-color: #181818;
 }
.qns {
    background-color: #181818;
    padding-left: 60px;
    padding-bottom: 30px;
    color : #FFFFFFB3;
}
.ss {
    background-color: #181818;
    display: flex;
    justify-content: flex-start;
    padding-left: 100px;
}
.ss select {
    height: 35px;
    width: 110px;
    background-color: black;
    font-size: medium;
    border-radius: 20px;
    padding-right: 20px;
    text-align: center;

}
.netflix {
    background-color: #181818;
    color: #FFFFFFB3;
    padding-left: 120px;
    padding-top: 10px;    padding-bottom: 20px;
}
@media (max-width: 480px)
{
    * {
        padding: 0;
        margin: 0;
        border: none;
        box-sizing: border-box;
    }
    body {
        background-color: rgb(10, 19, 37);
    }
    .logo {
        transform: translate(-18%,10%);     
        font-size: 10px; 
    }
    .sign-in2 {
        display: flex;
        transform: translate(-0%,40%); 

    }
    .language {  
        height: 30px;
        color: red;
    }

    .imagees {
        background-color: rgb(23, 10, 37);
        text-align: center;
        transform: translate(-0%, 0%);

    }
    .image {
        height: 700px;
        width: 390px;
        text-align: center;
    }    
    .welcome-msg {
        height: 400px;
        transform: translate(-50%, -75%);
    
    }
    .welcome-msg h1 {
        height: 100px;
        width: 400px;
        font-size: 250%;
        
    }
    .welcome-msg h3 {
        width: 350px;
        font-size: 20px;
        transform: translate(0%, -65%);
    }
    .email-add input {
        transform: translate(0%, 40%);
        width: 250px;
    }
    .email-add button {
        font-size: 15px;
        height: 70%;
        width: 17%;
        transform: translate(0%, 60%);

    }
    .reasons {
        font-size: 20px;
        transform: translate(-10%, 20%);
    }
    .all-boxes {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box {
        height: 150px;
        width: 400px;
        transform: translate(-0%, 0%);

    }
    
    .tv i {
        transform: translate(60%, -50%);
    
    }
    .down i {
        transform: translate(65%, -50%);
    
    }
    .stream i {
        transform: translate(65%, -60%);
    
    }
    .profile i {
        transform: translate(65%, -70%);
    
    }
    .faqs h2 {
        font-size: 20px;
        transform: translate(-8%);
}
.gmail-add {
    transform: translate(3%);

}
.gmail-add input {
    height: 40%;
    width: 60%;
}
.gmail-add button {
    height: 40px;
    width: 30%;
    font-size: 15px;
}
footer {
    width: 100%;
    display: flex;
}
ul {
    transform: translate(-15%,0%);
}
.ss select {
    width: 20%;
    height: 50%;
    font-size: 15px;
    transform: translate(-50%,0%);

}
.netflix p {
    transform: translate(-10%,-20%);
}

}
@media (min-width: 481px) and (max-width: 575px)

    {
        * {
            padding: 0;
            margin: 0;
            border: none;
            box-sizing: border-box;
        }
        body {
            background-color: black;
        }
        .logo {
            transform: translate(-10%,10%);     
            font-size: 10px;   
        }
        .sign-in2 {
            display: flex;
            transform: translate(10%,40%);     

        }

        .language {
            height: 30px;
        }
    .image {
        height: 500px;
        width: 540px;
    }
    .imagees {
        background-color: black;
    }
    .box {
        height: 200px;
        width: 0%;
    }

    .tv i {
        transform: translate(100%, -50%);

    }
    .down i {
        transform: translate(106%, -30%);

    }
    .stream i {
        transform: translate(107%, -60%);

    }
    .profile i {
        transform: translate(109%, -60%);

    }


    .welcome-msg {
        height: 200px;
        transform: translate(-50%, -65%);

    }
    .reasons {
        font-size: 15px;
        transform: translate(-5%, 0%);
    }
    .welcome-msg h1 {
        width: 400px;
        font-size: 40px;
        
    }
    .welcome-msg h3 {
        width: 300px;
        transform: translate(0%, -50%);
    }
    .email-add input {
        height: 50px;
        width: 300px;
    }
    .email-add button {
        font-size: 15px;
        height: 70%;
        width: 17%;
    }
    .all-boxes {
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    .box {
        height: 150px;
        width: 500px;
    }
    .faqs h2 {
             font-size: 20px;
             transform: translate(-8%);
    }
    .gmail-add {
        transform: translate(3%);

    }
    .gmail-add input {
        height: 40%;
        width: 60%;
    }
    .gmail-add button {
        height: 40px;
        width: 30%;
        font-size: 15px;
    }
    footer {
        width: 100%;
        display: flex;
    }
    ul {
        transform: translate(-0%,0%);
    }
    .ss select {
        width: 20%;
        height: 50%;
        font-size: 15px;
        transform: translate(-50%,0%);

    }
    .netflix p {
        transform: translate(-10%,-20%);
    }
}
@media (min-width: 576px) and (max-width: 767px) {

    * {
        padding: 0;
        margin: 0;
        border: none;
        box-sizing: border-box;
    }
    body {
        background-color: rgb(23, 10, 37);
    }
    .logo {
        transform: translate(-10%,10%);     
        font-size: 10px; 
    }
    .sign-in2 {
        display: flex;
        transform: translate(-20%,40%); 

    }
    .language {  
        height: 30px;
        color: gold;
    }

    .imagees {
        background-color: rgb(23, 10, 37);
        text-align: center;
        transform: translate(-3%, 0%);

    }
    .image {
        height: 500px;
        width: 650px;
        text-align: center;
    }    
    .welcome-msg {
        height: 200px;
        transform: translate(-50%, -90%);
    
    }
    .welcome-msg h1 {
        font-size: 55px;
        
    }
    .welcome-msg h3 {
        width: 350px;
        font-size: 20px;
        transform: translate(0%, -65%);
    }
    .email-add input {
        transform: translate(0%, 40%);
        width: 400px;
    }
    .email-add button {
        font-size: 15px;
        height: 70%;
        width: 17%;
        transform: translate(0%, 60%);

    }
    .reasons {
        font-size: 15px;
        transform: translate(-5%, 0%);
    }
    .all-boxes {
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box {
        height: 150px;
        width: 600px;
        transform: translate(-5%, 0%);

    }
    
    .tv i {
        transform: translate(100%, -50%);
    
    }
    .down i {
        transform: translate(106%, -30%);
    
    }
    .stream i {
        transform: translate(107%, -40%);
    
    }
    .profile i {
        transform: translate(109%, -60%);
    
    }
    .faqs h2 {
        font-size: 20px;
        transform: translate(-8%);
}
.gmail-add {
    transform: translate(3%);

}
.gmail-add input {
    height: 40%;
    width: 60%;
}
.gmail-add button {
    height: 40px;
    width: 30%;
    font-size: 15px;
}
footer {
    width: 100%;
    display: flex;
}
ul {
    transform: translate(-15%,0%);
}
.ss select {
    width: 20%;
    height: 50%;
    font-size: 15px;
    transform: translate(-50%,0%);

}
.netflix p {
    transform: translate(-10%,-20%);
}

}
@media (min-width: 768px) and (max-width: 991px)
{
    * {
        padding: 0;
        margin: 0;
        border: none;
        box-sizing: border-box;
    }
    body {
        background-color: rgb(29, 7, 19);
    }
    .logo {
        transform: translate(-10%,10%);     
        font-size: 10px; 
    }
    .sign-in2 {
        display: flex;
        transform: translate(-0%,40%); 

    }
    .language {  
        height: 30px;
        color: gold;
    }

    .imagees {
        background-color: rgb(29, 7, 19);
        text-align: center;
        transform: translate(-0%, 0%);

    }
    .image {
        height: 500px;
        width: 730px;
        text-align: center;
    }    
    .welcome-msg {
        height: 200px;
        transform: translate(-50%, -90%);
    
    }
    .welcome-msg h1 {
        font-size: 55px;
        
    }
    .welcome-msg h3 {
        width: 350px;
        font-size: 20px;
        transform: translate(0%, -65%);
    }
    .email-add input {
        transform: translate(0%, 40%);
        width: 500px;
    }
    .email-add button {
        font-size: 15px;
        height: 70%;
        width: 17%;
        transform: translate(0%, 60%);

    }
    .reasons {
        font-size: 15px;
        transform: translate(-4%, 20%);
    }
    .all-boxes {
        height: 620px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .box {
        height: 130px;
        width: 700px;

    }
    
    .tv i {
        transform: translate(180%, -50%);
    
    }
    .down i {
        transform: translate(190%, -50%);
    
    }
    .stream i {
        transform: translate(190%, -60%);
    
    }
    .profile i {
        transform: translate(195%, -65%);
    
    }
    .faqs h2 {
        font-size: 20px;
        transform: translate(-8%);
}
.gmail-add {
    transform: translate(3%);

}
.gmail-add input {
    height: 40%;
    width: 60%;
}
.gmail-add button {
    height: 40px;
    width: 30%;
    font-size: 15px;
}
footer {
    width: 100%;
    display: flex;
}
ul {
    transform: translate(-15%,0%);
}
.ss select {
    width: 20%;
    height: 50%;
    font-size: 15px;
    transform: translate(-50%,0%);

}
.netflix p {
    transform: translate(-10%,-20%);
}

}
